@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --primary-colour: #d7acd4;
  --secondary-colour: #d7acd466;
  --box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f7fe;
}

h1 {
  font-size: 53px;
  font-weight: 500;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 19px;
  opacity: 0.7;
}

.btn {
  background-color: var(--primary-colour);
  font-weight: 500;
  padding: 10px 40px;
  box-shadow: var(--box-shadow);
}

.secondary-border-top {
  border-top: 2px solid var(--secondary-colour);
}

.secondary-border-bottom {
  border-bottom: 2px solid var(--secondary-colour);
}

.hero {
  margin-top: 55px;
}

.chiaras-img {
  display: block;
  width: 80%;
  margin: auto;
}

.card {
  width: 22rem;
  border: 2px solid var(--secondary-colour);
  box-shadow: var(--box-shadow);
  text-align: center;
  margin: auto;
}

/* Navbar */
.navbar {
  background-color: var(--primary-colour);
}

.navbar-brand img {
  width: 180px;
}

/* PROJECT PAGE - Projects section */
.projects p {
  height: 48px;
}

/* CONTACT PAGE - form */
form {
  width: 70%;
  margin: auto;
}

.submit-button {
  width: 40%;
}

ul i {
  font-size: 30px;
  color: #0000008c;
  background-color: #f9f7fe;
  padding: 8px 10px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

ul i:hover,
.social-links:hover i {
  color: #f9f7fe;
  background-color: #0000008c;
}

/* Footer */
footer {
  background-color: #fff;
  border-top: 2px solid var(--secondary-colour);
}

footer img {
  width: 70%;
}

footer .attribution {
  font-size: 12px;
  text-align: end;
}

/* X-Large */
@media (max-width: 1200px) {
  .card {
    width: 25rem;
  }

  .chiaras-img {
    width: 90%;
  }
}

/* Large */
@media (max-width: 991.98px) {
  h1,
  h2,
  h3 {
    text-align: center;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 37px;
  }

  h3 {
    font-size: 19px;
  }

  p {
    text-align: center;
  }

  .hero {
    margin-top: 40px;
  }

  .chiaras-img {
    width: 45%;
  }

  .border-top-sm {
    border-top: 2px solid var(--secondary-colour);
  }

  .card {
    width: 22rem;
  }

  form {
    width: 80%;
  }

  .submit-button {
    width: 100%;
  }
}

/* Medium */
@media (max-width: 767.98px) {
  h1 {
    font-size: 47px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    font-size: 15px;
  }

  .card {
    width: 90%;
  }

  form {
    width: 100%;
  }

  footer,
  footer .attribution {
    text-align: center;
  }

  footer img {
    width: 60%;
  }

  footer ul {
    margin-top: 10px;
  }
}

/* Small */
@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 17px;
  }

  .chiaras-img {
    width: 55%;
  }

  footer i {
    font-size: 27px;
  }
}

/* X-Small */
@media (max-width: 400px) {
  h1 {
    font-size: 37px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  .btn {
    padding: 8px 30px;
  }

  .chiaras-img {
    width: 65%;
  }

  footer i {
    font-size: 20px;
  }

  footer ul {
    margin-top: 15px;
  }
}
